<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <title>SipSync</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="wrapper">
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
    </div>
    <form id="recipe-form">
        <div class="berkshire-swash-regular">
            <label for="taste">Choose Your Taste:</label>
            <select id="taste" required>
                <option value="">Select...</option>
                <option value="Sweet">🍬 Sweet</option>
                <option value="Earthy">🌿 Earthy</option>
                <option value="Citrusy">🍋 Citrusy</option>
                <option value="Spicy">🫚 Spicy</option>
                <option value="Floral">🌸 Floral</option>
            </select>
        </div>

        <div class="berkshire-swash-regular">
            <label for="mood">What's Your Mood:</label>
            <input id="mood" type="text" required>
        </div>

        <div id="feelin" class="berkshire-swash-regular">
            <label for="sym">Watcha Feelin:</label>
            <div class="autocomplete">
                <input id="sym" type="text" name="Symptoms" placeholder="Any Feelings ..." required>
            </div>
        </div>

        <button id="reci" class="berkshire-swash-regular">
                <span class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S Y N C&nbsp;&nbsp;&nbsp;M Y&nbsp;&nbsp;&nbsp;S I P</span>
                <div class="arrow"></div>
        </button>
    </form>

    <div id="result2">
        <div id="loading">
                <div class="loader"></div>
                <p class="berkshire-swash-regular">Brewing Your Perfect Sip ...</p>
        </div>
        <div id="result">
        </div>
    </div>
    <div id="youtube" class="berkshire-swash-regular">
    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
